@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.app {
  text-align: center;
}

.welcome {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/welcome.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.main-button {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    background-color: transparent;
    font-weight: normal;
    transition: 0.3s;
    border: 3px solid black;
    display: inline-block;
}

.button-icon {
    margin-left: 3px;
    transition: transform 0.3s linear;
}

.main-button:hover .button-icon {
    transform: rotate(90deg);
}

.main-button:hover {
    background-color: rgba(0, 121, 107, 0.5);
    cursor: pointer;
}