@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.app {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.welcome {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/welcome.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
}

.intro {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.intro-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
}

.intro-grid-full-row {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 1200px) {
    .intro-grid {
        display: grid;
        grid-template-columns: 100%;
        position: relative;
        align-items: center;
    }
    
    .intro-grid-full-row {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .intro {
        width: 100vw;
        position: relative;
    }
}

.app h1 {
    padding-top: 2rem;
    text-decoration: underline;
}

.intro h2 {
    display: inline-block;
    font-weight: normal;
    margin: 0 2rem;
    margin-bottom: 3rem;
}

.ppic {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid #00adb5;
  
    object-fit: cover;
}

.value {
    display: inline-block;
    margin: 2rem 1rem;
}

.experience {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 5rem;
}
