.search-field-input {
    background-color: inherit;
    border: 2px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    width: 30rem;
    padding: 10px;
}

.search-field-input:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFE0B2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFA000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFA000;
}

.search-field-button {
    cursor: pointer;
    margin-left: 1rem;
}